# Default values for nodetours.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: nodetours
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: "nodetours"

serviceAccount:
  create: false
  annotations: {}
  name:

podSecurityContext: {}

securityContext: {}

service:
  type: NodePort
  port: 7777

ingress:
  enabled: false
  annotations: {}
  hosts:
  tls: []

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

global:
  dbhost: nodetours-db
  dbport: 27017