---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodetours-app
  labels:
    app: nodetours-app
    version: "3.1"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodetours-app
      version: "3.1"
  template:
    metadata:
      labels:
        app: nodetours-app
        version: "3.1"
    spec:
      containers:
      - name: nodetours-app
        image: nodetours:3.1
        imagePullPolicy: IfNotPresent
        env:
          - name: DB_HOSTNAME
            value: nodetours-db
          - name: DB_PORT
            value: '27017'
        ports:
        - name: 7777http
          containerPort: 7777
          protocol: TCP
        livenessProbe:
          failureThreshold: 3
          initialDelaySeconds: 10
          periodSeconds: 5
          successThreshold: 1
          tcpSocket:
            port: 7777
          timeoutSeconds: 2
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 7777
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 2
          timeoutSeconds: 2
        resources: {}
---
apiVersion: v1
kind: Service
metadata:
  name:  nodetours-app
  labels:
    app: nodetours-app
    service: nodetours-app
spec:
  selector:
    app: nodetours-app
  type:  NodePort
  ports:
  - name:  7777http
    port:  7777
    protocol: TCP
