---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodetours-db
  labels:
    app: nodetours-db
    version: "3.0"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodetours-db
      version: "3.0"
  template:
    metadata:
      labels:
        app: nodetours-db
        version: "3.0"
    spec:
      containers:
      - name: nodetours-db
        image: mongo:latest
        imagePullPolicy: IfNotPresent
        ports:
        - name: 27017http
          containerPort: 27017
          protocol: TCP
        livenessProbe:
          failureThreshold: 3
          initialDelaySeconds: 10
          periodSeconds: 5
          successThreshold: 1
          tcpSocket:
            port: 27017
          timeoutSeconds: 2
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 27017
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 2
          timeoutSeconds: 2
        resources: {}
---
apiVersion: v1
kind: Service
metadata:
  name:  nodetours-db
  labels:
    app: nodetours-db
    service: nodetours-db
spec:
  selector:
    app: nodetours-db
  ports:
  - name:  27017http
    port:  27017
    protocol: TCP
    